@import "_reset"
@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap')


$grayText: #999999
$linkColor: #0871B0
$border: 1px solid $grayText

*
	//transform: .3s

::-webkit-input-placeholder
	// WebKit browsers
	color: $grayText
::-moz-placeholder
	// Mozilla Firefox 4 to 18
	color: $grayText
::-moz-placeholder
	// Mozilla Firefox 19+
	color: $grayText
::-ms-input-placeholder
	// Internet Explorer 10+
	color: $grayText

// Template
%form-items
	border-radius: 0.8rem
	height: 4rem
	outline: none
	border: 1px solid #f9f9f9

html
	font-size: 62.5%;

body
	font-family: 'Roboto', sans-serif
	font-size: 1.6rem
	background: #f9f9f9

a
	color: $linkColor
	text-decoration: none
	&:hover
		color: #B00861

.wrapper
	width: 100%
	max-width: 64rem
	margin: 0 auto
	display: flex
	flex-flow: column nowrap
	justify-content: center

.loader
	width: 40px
	height: 40px
	position: absolute
	right: 8px
	top: 8px
	transition: .3s
	&_hide
		opacity: 0
	circle
		transform-origin: center
		-webkit-animation: rotate 1s linear infinite
		animation: rotate 1s linear infinite
		stroke: $linkColor
		fill: none
	@-webkit-keyframes rotate
		100%
			-webkit-transform: rotate(360deg)
			-ms-transform: rotate(360deg)
			transform: rotate(360deg)
	@keyframes rotate
		100%
			-webkit-transform: rotate(360deg)
			-ms-transform: rotate(360deg)
			transform: rotate(360deg)

.findform
	display: flex
	flex-flow: row nowrap
	justify-content: center
	padding: 4rem
	&__input
		@extend %form-items
		padding: 0 1.2rem
		width: 28rem
		margin: 0 1.2rem 0 0
		transition: 0.4s
		&:focus
			border: 1px solid $linkColor
	&__submit
		@extend %form-items
		padding: 0 4rem
		cursor: pointer
		background: $linkColor
		border: 1px solid $linkColor
		transition: 0.4s
		color: #ffffff
		margin: 0
		box-shadow: inset 0px 20px 20px #2E8CC500, 0px 12px 20px -8px #0871B000
		&:disabled
			cursor: default
			background: #eeeeee
			color: $grayText
			border-color: #eeeeee
		&:not([disabled="disabled"]):hover
			box-shadow: inset 0px 20px 20px #2E8CC5, 0px 12px 20px -8px #0871B080

.header
	color: $grayText
	text-align: center
	padding-top: 4rem

.infoblock
	width: 100%
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	align-items: center
	// border: $border
	border-radius: 1.6rem
	padding: 4rem
	transition: .3s
	position: relative
	background: #ffffff

	&__avatar
		border-radius: 50%
		height: 12rem
		display: block
		margin: 0 0 2rem

	&__items
		width: 100%
		li
			// display: none
			justify-content: space-between
			padding: 0.24rem 1rem
			text-align: center
			width: 100%
			&.items__location
				color: $grayText
	
	.items_show
		display: block





