@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css?family=Roboto:400&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-input-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

::-ms-input-placeholder {
  color: #999999;
}

.findform__input, .findform__submit {
  border-radius: 0.8rem;
  height: 4rem;
  outline: none;
  border: 1px solid #f9f9f9;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background: #f9f9f9;
}

a {
  color: #0871B0;
  text-decoration: none;
}

a:hover {
  color: #eb8314;
}

.wrapper {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 0;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 8px;
  top: 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.loader_hide {
  opacity: 0;
}

.loader circle {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  stroke: #0871B0;
  fill: none;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.findform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}

.findform__input {
  padding: 0 1.2rem;
  width: 28rem;
  margin: 0 1.2rem 0 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.findform__input:focus {
  border: 1px solid #0871B0;
}

.findform__submit {
  padding: 0 4rem;
  cursor: pointer;
  background: #0871B0;
  border: 1px solid #0871B0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: #ffffff;
  margin: 0;
}

.findform__submit:disabled {
  cursor: default;
  background: #eeeeee;
  color: #999999;
  border-color: #eeeeee;
  -webkit-box-shadow: 0px 12px 20px -8px #0871B000;
          box-shadow: 0px 12px 20px -8px #0871B000;
}

.findform__submit:not([disabled="disabled"]):hover {
  -webkit-box-shadow: 0px 12px 20px -8px #0871B080;
          box-shadow: 0px 12px 20px -8px #0871B080;
}

.header {
  color: #999999;
  text-align: center;
}

.infoblock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.6rem;
  padding: 4rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
  background: #ffffff;
}

.infoblock__avatar {
  border-radius: 50%;
  height: 12rem;
  display: block;
  margin: 0 0 2rem;
}

.infoblock__items {
  width: 100%;
}

.infoblock__items li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.4rem 0;
  text-align: center;
  width: 100%;
}

.infoblock__items li.items__location {
  color: #999999;
}

.infoblock__items li.items__bio {
  padding: 2rem;
  background: #f9f9f9;
  border-radius: .8rem;
  margin: 1.6rem 0;
}

.infoblock__items li.items__repos {
  padding-top: 1.6rem;
}

.infoblock__items li.items__follow {
  color: #999999;
}

.infoblock__items li.items__follow p {
  display: inline-block;
}

.infoblock__items li.items__repos-url a {
  display: inline-block;
  padding: 0.48rem 1.6rem;
  margin: 0.48rem;
  border: 1px solid #eeeeee;
  border-radius: 0.8rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.infoblock__items li.items__repos-url a:hover {
  background: #0871B0;
  border-color: #0871B0;
  color: #ffffff;
}

.infoblock .items_show {
  display: block;
}
