@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css?family=Roboto:400&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-input-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

::-ms-input-placeholder {
  color: #999999;
}

.findform__input, .findform__submit {
  border-radius: 8px;
  height: 40px;
  margin: 0 4px;
  outline: none;
  border: 1px solid #eeeeee;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #0871B0;
}

a:hover {
  color: #B00861;
}

.wrapper {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.findform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

.findform__input {
  padding: 0 .64rem;
}

.findform__submit {
  padding: 0 2rem;
  cursor: pointer;
}

.infoblock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eeeeee;
  border-radius: 16px;
  padding: 40px;
}

.infoblock__info {
  color: #999999;
}

.infoblock__avatar {
  border-radius: 50%;
  height: 120px;
  display: block;
  margin: 2rem 0;
}

.infoblock__items {
  width: 100%;
}

.infoblock__items li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.24rem 1rem;
  text-align: center;
  width: 100%;
}

.infoblock__items li.items__location {
  color: #999999;
}
